<a href="https://colab.research.google.com/github/Nohyunjin/pandascookbook/blob/main/6%EC%9E%A5_%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%9D%98_%EB%B6%80%EB%B6%84%EC%A7%91%ED%95%A9_%EC%84%A0%ED%83%9D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

college = pd.read_csv("/content/drive/MyDrive/데이터 사이언스 + R/pandas_cookbook/pandas-cookbook-2e-main/data/college.csv", index_col = "INSTNM")

city = college["CITY"]
city

INSTNM
Alabama A & M University                                            Normal
University of Alabama at Birmingham                             Birmingham
Amridge University                                              Montgomery
University of Alabama in Huntsville                             Huntsville
Alabama State University                                        Montgomery
                                                                ...
SAE Institute of Technology  San Francisco                      Emeryville
Rasmussen College - Overland Park                            Overland Park
National Personal Training Institute of Cleveland         Highland Heights
Bay Area Medical Academy - San Jose Satellite Location            San Jose
Excel Learning Center-San Antonio South                        San Antonio
Name: CITY, Length: 7535, dtype: object

In [ ]:
city["Alabama A & M University"]

'Normal'

In [ ]:
city.loc["Alabama A & M University"]

'Normal'

In [ ]:
city.iloc[0]

'Normal'

In [ ]:
city["Alabama A & M University" : "Alabama State University"]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [ ]:
city[0:5]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [ ]:
city.loc[
         "Alabama A & M University":"Alabama State University"
]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [ ]:
city.iloc[0:5]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [ ]:
alabama_mask = city.isin(["Birmingham", "Montgomery"])
city[alabama_mask]

INSTNM
University of Alabama at Birmingham                 Birmingham
Amridge University                                  Montgomery
Alabama State University                            Montgomery
Auburn University at Montgomery                     Montgomery
Birmingham Southern College                         Birmingham
South University-Montgomery                         Montgomery
Faulkner University                                 Montgomery
Herzing University-Birmingham                       Birmingham
Huntingdon College                                  Montgomery
Jefferson State Community College                   Birmingham
Lawson State Community College-Birmingham Campus    Birmingham
Samford University                                  Birmingham
Southeastern Bible College                          Birmingham
H Councill Trenholm State Community College         Montgomery
West Virginia University Institute of Technology    Montgomery
Virginia College-Birmingham                         Birmingham
Southeastern School of Cosmetology                  Birmingham
Strayer University-Alabama                          Birmingham
University of Phoenix-Alabama                       Birmingham
Virginia College-Montgomery                         Montgomery
Fortis College-Montgomery                           Montgomery
Fortis Institute-Birmingham                         Birmingham
Hair Academy                                        Montgomery
Brown Mackie College-Birmingham                     Birmingham
Nunation School of Cosmetology                      Birmingham
Troy University-Montgomery Campus                   Montgomery
Name: CITY, dtype: object

In [ ]:
college.head(5)

                                           CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                           ...
Alabama A & M University                 Normal  ...              33888
University of Alabama at Birmingham  Birmingham  ...            21941.5
Amridge University                   Montgomery  ...              23370
University of Alabama in Huntsville  Huntsville  ...              24097
Alabama State University             Montgomery  ...            33118.5

[5 rows x 26 columns]

In [ ]:
college.shape

(7535, 26)

In [ ]:
s = pd.Series([10, 20, 35, 28], index = [5, 2, 3, 1])
s

5    10
2    20
3    35
1    28
dtype: int64

In [ ]:
s[0:4]

5    10
2    20
3    35
1    28
dtype: int64

In [ ]:
s[5]

10

In [ ]:
college.loc["Alabama A & M University", "CITY"]

'Normal'

In [ ]:
college.iloc[0,0]

'Normal'

In [ ]:
college.loc[["Alabama A & M University", "Alabama State University",], "CITY"]

INSTNM
Alabama A & M University        Normal
Alabama State University    Montgomery
Name: CITY, dtype: object

In [ ]:
college.iloc[[0,4], 0]

INSTNM
Alabama A & M University        Normal
Alabama State University    Montgomery
Name: CITY, dtype: object

In [ ]:
college.loc["Alabama A & M University":"Alabama State University","CITY"]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [ ]:
college.iloc[0:5, 0]

INSTNM
Alabama A & M University                   Normal
University of Alabama at Birmingham    Birmingham
Amridge University                     Montgomery
University of Alabama in Huntsville    Huntsville
Alabama State University               Montgomery
Name: CITY, dtype: object

In [ ]:
college.iloc[60]

CITY                  Anchorage
STABBR                       AK
HBCU                          0
MENONLY                       0
WOMENONLY                     0
RELAFFIL                      0
SATVRMID                    NaN
SATMTMID                    NaN
DISTANCEONLY                  0
UGDS                      12865
UGDS_WHITE               0.5747
UGDS_BLACK               0.0358
UGDS_HISP                0.0761
UGDS_ASIAN               0.0778
UGDS_AIAN                0.0653
UGDS_NHPI                0.0086
UGDS_2MOR                 0.098
UGDS_NRA                 0.0181
UGDS_UNKN                0.0457
PPTUG_EF                 0.4539
CURROPER                      1
PCTPELL                  0.2385
PCTFLOAN                 0.2647
UG25ABV                  0.4386
MD_EARN_WNE_P10           42500
GRAD_DEBT_MDN_SUPP      19449.5
Name: University of Alaska Anchorage, dtype: object

In [1]:
import pandas as pd
import numpy as np

college = pd.read_csv("/content/drive/MyDrive/데이터 사이언스 + R/pandas_cookbook/pandas-cookbook-2e-main/data/college.csv", index_col = "INSTNM")
college.iloc[60]

CITY                  Anchorage
STABBR                       AK
HBCU                          0
MENONLY                       0
WOMENONLY                     0
RELAFFIL                      0
SATVRMID                    NaN
SATMTMID                    NaN
DISTANCEONLY                  0
UGDS                      12865
UGDS_WHITE               0.5747
UGDS_BLACK               0.0358
UGDS_HISP                0.0761
UGDS_ASIAN               0.0778
UGDS_AIAN                0.0653
UGDS_NHPI                0.0086
UGDS_2MOR                 0.098
UGDS_NRA                 0.0181
UGDS_UNKN                0.0457
PPTUG_EF                 0.4539
CURROPER                      1
PCTPELL                  0.2385
PCTFLOAN                 0.2647
UG25ABV                  0.4386
MD_EARN_WNE_P10           42500
GRAD_DEBT_MDN_SUPP      19449.5
Name: University of Alaska Anchorage, dtype: object

In [2]:
college.loc["University of Alaska Anchorage"]

CITY                  Anchorage
STABBR                       AK
HBCU                          0
MENONLY                       0
WOMENONLY                     0
RELAFFIL                      0
SATVRMID                    NaN
SATMTMID                    NaN
DISTANCEONLY                  0
UGDS                      12865
UGDS_WHITE               0.5747
UGDS_BLACK               0.0358
UGDS_HISP                0.0761
UGDS_ASIAN               0.0778
UGDS_AIAN                0.0653
UGDS_NHPI                0.0086
UGDS_2MOR                 0.098
UGDS_NRA                 0.0181
UGDS_UNKN                0.0457
PPTUG_EF                 0.4539
CURROPER                      1
PCTPELL                  0.2385
PCTFLOAN                 0.2647
UG25ABV                  0.4386
MD_EARN_WNE_P10           42500
GRAD_DEBT_MDN_SUPP      19449.5
Name: University of Alaska Anchorage, dtype: object

In [3]:
college.iloc[[50, 99, 3]]

                                            CITY  ... GRAD_DEBT_MDN_SUPP
INSTNM                                            ...
University of South Alabama               Mobile  ...              24711
International Academy of Hair Design       Tempe  ...              10556
University of Alabama in Huntsville   Huntsville  ...              24097

[3 rows x 26 columns]

In [6]:
labels = [
          "University of Alaska Anchorage",
          "International Academy of Hair Design",
          "University of Alabama in Hunstille",
]

In [7]:
college.loc[labels]

KeyError: ignored

In [8]:
college.iloc[:3, :4]

                                           CITY STABBR  HBCU  MENONLY
INSTNM
Alabama A & M University                 Normal     AL   1.0      0.0
University of Alabama at Birmingham  Birmingham     AL   0.0      0.0
Amridge University                   Montgomery     AL   0.0      0.0

In [9]:
college.iloc[:, [4,6]].head()

                                     WOMENONLY  SATVRMID
INSTNM
Alabama A & M University                   0.0     424.0
University of Alabama at Birmingham        0.0     570.0
Amridge University                         0.0       NaN
University of Alabama in Huntsville        0.0     595.0
Alabama State University                   0.0     425.0

In [10]:
college.iloc[[100,200], [7, 15]]

                                       SATMTMID  UGDS_NHPI
INSTNM
GateWay Community College                   NaN     0.0029
American Baptist Seminary of the West       NaN        NaN

In [11]:
college.iloc[5, -4]

0.401

In [12]:
college.iloc[90:80:-2, 5]

INSTNM
Empire Beauty School-Flagstaff     0
Charles of Italy Beauty College    0
Central Arizona College            0
University of Arizona              0
Arizona State University-Tempe     0
Name: RELAFFIL, dtype: int64

In [15]:
col_start = college.columns.get_loc("UGDS_WHITE")
col_end = college.columns.get_loc("UGDS_UNKN") + 1
col_start, col_end

(10, 19)

In [17]:
row_start = college.index[10]
row_end = college.index[15]
college.loc[row_start:row_end, "UGDS_WHITE":"UGDS_UNKN"]

                                          UGDS_WHITE  ...  UGDS_UNKN
INSTNM                                                ...
Birmingham Southern College                   0.7983  ...     0.0051
Chattahoochee Valley Community College        0.4661  ...     0.0139
Concordia College Alabama                     0.0280  ...     0.0000
South University-Montgomery                   0.3046  ...     0.0326
Enterprise State Community College            0.6408  ...     0.0069
James H Faulkner State Community College      0.6979  ...     0.0009

[6 rows x 9 columns]