In [1]:
import pandas as pd
import numpy as np
college = pd.read_csv("/content/drive/MyDrive/데이터 사이언스 + R/pandas_cookbook/pandas-cookbook-2e-main/data/college.csv")
college.sample(random_state = 42)

                    INSTNM         CITY  ... MD_EARN_WNE_P10  GRAD_DEBT_MDN_SUPP
3649  Career Point College  San Antonio  ...           20700               14977

[1 rows x 27 columns]

In [ ]:
college.shape

(7535, 27)

In [ ]:
college.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7535 entries, 0 to 7534
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   INSTNM              7535 non-null   object
 1   CITY                7535 non-null   object
 2   STABBR              7535 non-null   object
 3   HBCU                7164 non-null   float64
 4   MENONLY             7164 non-null   float64
 5   WOMENONLY           7164 non-null   float64
 6   RELAFFIL            7535 non-null   int64
 7   SATVRMID            1185 non-null   float64
 8   SATMTMID            1196 non-null   float64
 9   DISTANCEONLY        7164 non-null   float64
 10  UGDS                6874 non-null   float64
 11  UGDS_WHITE          6874 non-null   float64
 12  UGDS_BLACK          6874 non-null   float64
 13  UGDS_HISP           6874 non-null   float64
 14  UGDS_ASIAN          6874 non-null   float64
 15  UGDS_AIAN           6874 non-null   float64
 16  UGDS_NHPI           6874 non-null   float64
 17  UGDS_2MOR           6874 non-null   float64
 18  UGDS_NRA            6874 non-null   float64
 19  UGDS_UNKN           6874 non-null   float64
 20  PPTUG_EF            6853 non-null   float64
 21  CURROPER            7535 non-null   int64
 22  PCTPELL             6849 non-null   float64
 23  PCTFLOAN            6849 non-null   float64
 24  UG25ABV             6718 non-null   float64
 25  MD_EARN_WNE_P10     6413 non-null   object
 26  GRAD_DEBT_MDN_SUPP  7503 non-null   object
dtypes: float64(20), int64(2), object(5)
memory usage: 1.6+ MB

In [ ]:
college.describe(include = [np.number]).T

               count         mean  ...          75%          max
HBCU          7164.0     0.014238  ...     0.000000       1.0000
MENONLY       7164.0     0.009213  ...     0.000000       1.0000
WOMENONLY     7164.0     0.005304  ...     0.000000       1.0000
RELAFFIL      7535.0     0.190975  ...     0.000000       1.0000
SATVRMID      1185.0   522.819409  ...   555.000000     765.0000
SATMTMID      1196.0   530.765050  ...   565.000000     785.0000
DISTANCEONLY  7164.0     0.005583  ...     0.000000       1.0000
UGDS          6874.0  2356.837940  ...  1929.500000  151558.0000
UGDS_WHITE    6874.0     0.510207  ...     0.747875       1.0000
UGDS_BLACK    6874.0     0.189997  ...     0.257700       1.0000
UGDS_HISP     6874.0     0.161635  ...     0.198875       1.0000
UGDS_ASIAN    6874.0     0.033544  ...     0.032700       0.9727
UGDS_AIAN     6874.0     0.013813  ...     0.007300       1.0000
UGDS_NHPI     6874.0     0.004569  ...     0.002500       0.9983
UGDS_2MOR     6874.0     0.023950  ...     0.033900       0.5333
UGDS_NRA      6874.0     0.016086  ...     0.011700       0.9286
UGDS_UNKN     6874.0     0.045181  ...     0.045400       0.9027
PPTUG_EF      6853.0     0.226639  ...     0.376900       1.0000
CURROPER      7535.0     0.923291  ...     1.000000       1.0000
PCTPELL       6849.0     0.530643  ...     0.712900       1.0000
PCTFLOAN      6849.0     0.522211  ...     0.745000       1.0000
UG25ABV       6718.0     0.410021  ...     0.572275       1.0000

[22 rows x 8 columns]

In [ ]:
college.describe(include = [np.object]).T

                   count unique                        top  freq
INSTNM              7535   7535  St Bonaventure University     1
CITY                7535   2514                   New York    87
STABBR              7535     59                         CA   773
MD_EARN_WNE_P10     6413    598          PrivacySuppressed   822
GRAD_DEBT_MDN_SUPP  7503   2038          PrivacySuppressed  1510

In [ ]:
college.describe(include = [np.number], percentiles = [0.01, 0.05, 0.10, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99, ],).T

               count         mean  ...           99%          max
HBCU          7164.0     0.014238  ...      1.000000       1.0000
MENONLY       7164.0     0.009213  ...      0.000000       1.0000
WOMENONLY     7164.0     0.005304  ...      0.000000       1.0000
RELAFFIL      7535.0     0.190975  ...      1.000000       1.0000
SATVRMID      1185.0   522.819409  ...    730.000000     765.0000
SATMTMID      1196.0   530.765050  ...    745.250000     785.0000
DISTANCEONLY  7164.0     0.005583  ...      0.000000       1.0000
UGDS          6874.0  2356.837940  ...  26015.290000  151558.0000
UGDS_WHITE    6874.0     0.510207  ...      1.000000       1.0000
UGDS_BLACK    6874.0     0.189997  ...      0.961467       1.0000
UGDS_HISP     6874.0     0.161635  ...      1.000000       1.0000
UGDS_ASIAN    6874.0     0.033544  ...      0.346429       0.9727
UGDS_AIAN     6874.0     0.013813  ...      0.209326       1.0000
UGDS_NHPI     6874.0     0.004569  ...      0.050508       0.9983
UGDS_2MOR     6874.0     0.023950  ...      0.133154       0.5333
UGDS_NRA      6874.0     0.016086  ...      0.236989       0.9286
UGDS_UNKN     6874.0     0.045181  ...      0.496581       0.9027
PPTUG_EF      6853.0     0.226639  ...      0.946724       1.0000
CURROPER      7535.0     0.923291  ...      1.000000       1.0000
PCTPELL       6849.0     0.530643  ...      0.993908       1.0000
PCTFLOAN      6849.0     0.522211  ...      0.986368       1.0000
UG25ABV       6718.0     0.410021  ...      0.917383       1.0000

[22 rows x 14 columns]

In [ ]:
pd.read_csv("/content/drive/MyDrive/데이터 사이언스 + R/pandas_cookbook/pandas-cookbook-2e-main/data/college_data_dictionary.csv")

           column_name                                        description
0               INSTNM                                   Institution Name
1                 CITY                                      City Location
2               STABBR                                 State Abbreviation
3                 HBCU           Historically Black College or University
4              MENONLY                                       0/1 Men Only
5            WOMENONLY                                     0/1 Women only
6             RELAFFIL                          0/1 Religious Affiliation
7             SATVRMID                                  SAT Verbal Median
8             SATMTMID                                    SAT Math Median
9         DISTANCEONLY                            Distance Education Only
10                UGDS                           Undergraduate Enrollment
11          UGDS_WHITE                            Percent Undergrad White
12          UGDS_BLACK                            Percent Undergrad Black
13           UGDS_HISP                         Percent Undergrad Hispanic
14          UGDS_ASIAN                            Percent Undergrad Asian
15           UGDS_AIAN   Percent Undergrad American Indian/Alaskan Native
16           UGDS_NHPI  Percent Undergrad Native Hawaiian/Pacific Isla...
17           UGDS_2MOR                  Percent Undergrad 2 or more races
18            UGDS_NRA              Percent Undergrad non-resident aliens
19           UGDS_UNKN                     Percent Undergrad race unknown
20            PPTUG_EF                         Percent Students part-time
21            CURROPER                            0/1 Currently Operating
22             PCTPELL                   Percent Students with Pell grant
23            PCTFLOAN                 Percent Students with federal loan
24             UG25ABV                     Percent Students Older than 25
25     MD_EARN_WNE_P10          Median Earnings 10 years after enrollment
26  GRAD_DEBT_MDN_SUPP                          Median debt of completers

In [ ]:
different_cols = ["RELAFFIL", "SATMTMID", "CURROPER", "INSTNM", "STABBR",]
col2 = college.loc[:, different_cols]
col2.head()

   RELAFFIL  SATMTMID  CURROPER                               INSTNM STABBR
0         0     420.0         1             Alabama A & M University     AL
1         0     565.0         1  University of Alabama at Birmingham     AL
2         1       NaN         1                   Amridge University     AL
3         0     590.0         1  University of Alabama in Huntsville     AL
4         0     430.0         1             Alabama State University     AL

In [ ]:
col2.dtypes

RELAFFIL      int64
SATMTMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

In [ ]:
original_mem = col2.memory_usage(deep = True)
original_mem

Index          128
RELAFFIL     60280
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [ ]:
col2["RELAFFIL"] = col2["RELAFFIL"].astype(np.int8)

In [ ]:
col2.dtypes

RELAFFIL       int8
SATMTMID    float64
CURROPER      int64
INSTNM       object
STABBR       object
dtype: object

In [ ]:
col2.memory_usage(deep=True)

Index          128
RELAFFIL      7535
SATMTMID     60280
CURROPER     60280
INSTNM      660240
STABBR      444565
dtype: int64

In [ ]:
col2.select_dtypes(include = ["object"]).nunique()

INSTNM    7535
STABBR      59
dtype: int64

In [ ]:
col2["STABBR"] = col2["STABBR"].astype("category")
col2.dtypes

RELAFFIL        int8
SATMTMID     float64
CURROPER       int64
INSTNM        object
STABBR      category
dtype: object

In [ ]:
new_mem = col2.memory_usage(deep = True)
new_mem

Index          128
RELAFFIL      7535
SATMTMID     60280
CURROPER     60280
INSTNM      660699
STABBR       13576
dtype: int64

In [ ]:
college.describe(include='all').T

                   count unique  ...       75%     max
INSTNM              7535   7535  ...       NaN     NaN
CITY                7535   2514  ...       NaN     NaN
STABBR              7535     59  ...       NaN     NaN
HBCU                7164    NaN  ...         0       1
MENONLY             7164    NaN  ...         0       1
WOMENONLY           7164    NaN  ...         0       1
RELAFFIL            7535    NaN  ...         0       1
SATVRMID            1185    NaN  ...       555     765
SATMTMID            1196    NaN  ...       565     785
DISTANCEONLY        7164    NaN  ...         0       1
UGDS                6874    NaN  ...    1929.5  151558
UGDS_WHITE          6874    NaN  ...  0.747875       1
UGDS_BLACK          6874    NaN  ...    0.2577       1
UGDS_HISP           6874    NaN  ...  0.198875       1
UGDS_ASIAN          6874    NaN  ...    0.0327  0.9727
UGDS_AIAN           6874    NaN  ...    0.0073       1
UGDS_NHPI           6874    NaN  ...    0.0025  0.9983
UGDS_2MOR           6874    NaN  ...    0.0339  0.5333
UGDS_NRA            6874    NaN  ...    0.0117  0.9286
UGDS_UNKN           6874    NaN  ...    0.0454  0.9027
PPTUG_EF            6853    NaN  ...    0.3769       1
CURROPER            7535    NaN  ...         1       1
PCTPELL             6849    NaN  ...    0.7129       1
PCTFLOAN            6849    NaN  ...     0.745       1
UG25ABV             6718    NaN  ...  0.572275       1
MD_EARN_WNE_P10     6413    598  ...       NaN     NaN
GRAD_DEBT_MDN_SUPP  7503   2038  ...       NaN     NaN

[27 rows x 11 columns]

In [ ]:
movie = pd.read_csv("/content/drive/MyDrive/데이터 사이언스 + R/pandas_cookbook/pandas-cookbook-2e-main/data/movie.csv")
movie2 = movie[["movie_title", "imdb_score", "budget"]]
movie2.head()

                                  movie_title  imdb_score       budget
0                                      Avatar         7.9  237000000.0
1    Pirates of the Caribbean: At World's End         7.1  300000000.0
2                                     Spectre         6.8  245000000.0
3                       The Dark Knight Rises         8.5  250000000.0
4  Star Wars: Episode VII - The Force Awakens         7.1          NaN

In [ ]:
movie2.nlargest(100, "imdb_score").head()

                   movie_title  imdb_score      budget
2725          Towering Inferno         9.5         NaN
1920  The Shawshank Redemption         9.3  25000000.0
3402             The Godfather         9.2   6000000.0
2779                   Dekalog         9.1         NaN
4312      Kickboxer: Vengeance         9.1  17000000.0

In [ ]:
( movie2.nlargest(100, "imdb_score").nsmallest(5, "budget") )

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

In [ ]:
movie[["movie_title", "title_year", "imdb_score"]].sort_values("title_year", ascending = True)

                                           movie_title  title_year  imdb_score
4695  Intolerance: Love's Struggle Throughout the Ages      1916.0         8.0
4833                    Over the Hill to the Poorhouse      1920.0         4.8
4767                                    The Big Parade      1925.0         8.3
2694                                        Metropolis      1927.0         8.3
4697                               The Broadway Melody      1929.0         6.3
...                                                ...         ...         ...
4683                                            Heroes         NaN         7.7
4688                                       Home Movies         NaN         8.2
4704                                        Revolution         NaN         6.7
4752                                      Happy Valley         NaN         8.5
4912                                     The Following         NaN         7.5

[4916 rows x 3 columns]

In [ ]:
movie[["movie_title", "title_year", "imdb_score"]].sort_values(["title_year", "imdb_score"], ascending = False)

                      movie_title  title_year  imdb_score
4312         Kickboxer: Vengeance      2016.0         9.1
4277  A Beginner's Guide to Snuff      2016.0         8.7
3798                      Airlift      2016.0         8.5
27     Captain America: Civil War      2016.0         8.2
98            Godzilla Resurgence      2016.0         8.2
...                           ...         ...         ...
1391                    Rush Hour         NaN         5.8
4031                     Creature         NaN         5.0
2165              Meet the Browns         NaN         3.5
3246   The Bold and the Beautiful         NaN         3.5
2119                 The Bachelor         NaN         2.9

[4916 rows x 3 columns]

In [ ]:
movie[["movie_title", "title_year", "imdb_score"]].sort_values(["title_year", "imdb_score"], ascending = False).drop_duplicates(subset = "title_year")

                                           movie_title  title_year  imdb_score
4312                              Kickboxer: Vengeance      2016.0         9.1
3745                                   Running Forever      2015.0         8.6
4369                            Queen of the Mountains      2014.0         8.7
3935           Batman: The Dark Knight Returns, Part 2      2013.0         8.4
3                                The Dark Knight Rises      2012.0         8.5
...                                                ...         ...         ...
2694                                        Metropolis      1927.0         8.3
4767                                    The Big Parade      1925.0         8.3
4833                    Over the Hill to the Poorhouse      1920.0         4.8
4695  Intolerance: Love's Struggle Throughout the Ages      1916.0         8.0
2725                                  Towering Inferno         NaN         9.5

[92 rows x 3 columns]

In [ ]:
movie[["movie_title", "title_year", "imdb_score"]].groupby("title_year", as_index = False).apply(lambda df: df.sort_values("imdb_score", ascending = False).head(1)).droplevel(0).sort_values("title_year", ascending = False)

                                           movie_title  title_year  imdb_score
4312                              Kickboxer: Vengeance      2016.0         9.1
3745                                   Running Forever      2015.0         8.6
4369                            Queen of the Mountains      2014.0         8.7
3935           Batman: The Dark Knight Returns, Part 2      2013.0         8.4
3                                The Dark Knight Rises      2012.0         8.5
...                                                ...         ...         ...
4555                                     Pandora's Box      1929.0         8.0
2694                                        Metropolis      1927.0         8.3
4767                                    The Big Parade      1925.0         8.3
4833                    Over the Hill to the Poorhouse      1920.0         4.8
4695  Intolerance: Love's Struggle Throughout the Ages      1916.0         8.0

[91 rows x 3 columns]

In [ ]:
movie[["movie_title", "title_year","content_rating", "budget",]].sort_values(["title_year", "content_rating", "budget"], ascending = [False, False, True],).drop_duplicates(subset = ["title_year", "content_rating"])

                         movie_title  title_year content_rating      budget
4026                       Compadres      2016.0              R   3000000.0
4658             Fight to the Finish      2016.0          PG-13    150000.0
4661                      Rodeo Girl      2016.0             PG    500000.0
3252                     The Wailing      2016.0      Not Rated         NaN
4659  Alleluia! The Devil's Carnival      2016.0            NaN    500000.0
...                              ...         ...            ...         ...
2558                      Lilyhammer         NaN          TV-MA  34000000.0
807       Sabrina, the Teenage Witch         NaN           TV-G   3000000.0
848                    Stargate SG-1         NaN          TV-14   1400000.0
2436                          Carlos         NaN      Not Rated         NaN
2119                    The Bachelor         NaN            NaN   3000000.0

[359 rows x 4 columns]

In [ ]:
movie[["movie_title", "imdb_score", "budget"]].nlargest(100, "imdb_score").nsmallest(5, "budget")

               movie_title  imdb_score    budget
4804        Butterfly Girl         8.7  180000.0
4801    Children of Heaven         8.5  180000.0
4706          12 Angry Men         8.9  350000.0
4550          A Separation         8.4  500000.0
4636  The Other Dream Team         8.4  500000.0

In [ ]:
movie[["movie_title", "imdb_score", "budget"]].sort_values("imdb_score", ascending = False).head(100)

In [ ]:
movie[["movie_title", "imdb_score", "budget"]].sort_values("imdb_score", ascending = False).head(100).sort_values("budget").head(5)

                    movie_title  imdb_score    budget
4815  A Charlie Brown Christmas         8.4  150000.0
4801         Children of Heaven         8.5  180000.0
4804             Butterfly Girl         8.7  180000.0
4706               12 Angry Men         8.9  350000.0
4636       The Other Dream Team         8.4  500000.0

In [ ]:
movie[["movie_title", "imdb_score", "budget"]].nlargest(100, "imdb_score").tail()

                movie_title  imdb_score     budget
4023                 Oldboy         8.4  3000000.0
4163  To Kill a Mockingbird         8.4  2000000.0
4395         Reservoir Dogs         8.4  1200000.0
4550           A Separation         8.4   500000.0
4636   The Other Dream Team         8.4   500000.0

In [ ]:
movie[["movie_title", "imdb_score", "budget"]].sort_values("imdb_score", ascending = False).head(100).tail()

                                  movie_title  imdb_score      budget
3799                     Anne of Green Gables         8.4         NaN
3777                      Requiem for a Dream         8.4   4500000.0
3935  Batman: The Dark Knight Returns, Part 2         8.4   3500000.0
4636                     The Other Dream Team         8.4    500000.0
2455                                   Aliens         8.4  18500000.0

In [1]:
import datetime
import pandas_datareader.data as web

In [2]:
import requests_cache

In [4]:
pip install requests_cache

Collecting requests_cache
  Downloading requests_cache-0.9.1-py3-none-any.whl (46 kB)
     |████████████████████████████████| 46 kB 4.4 MB/s
Collecting url-normalize<2.0,>=1.4
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Collecting urllib3<2.0.0,>=1.25.5
  Downloading urllib3-1.26.8-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 55.2 MB/s
Collecting cattrs<2.0,>=1.8
  Downloading cattrs-1.10.0-py3-none-any.whl (29 kB)
Requirement already satisfied: appdirs<2.0.0,>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from requests_cache) (1.4.4)
Requirement already satisfied: attrs<22.0,>=21.2 in /usr/local/lib/python3.7/dist-packages (from requests_cache) (21.4.0)
Requirement already satisfied: requests<3.0,>=2.22 in /usr/local/lib/python3.7/dist-packages (from requests_cache) (2.23.0)
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.7/dist-packages (from cattrs<2.0,>=1.8->requests_cache) (3.10.0.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.22->requests_cache) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.22->requests_cache) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.22->requests_cache) (2021.10.8)
Collecting urllib3<2.0.0,>=1.25.5
  Downloading urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
     |████████████████████████████████| 127 kB 63.2 MB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from url-normalize<2.0,>=1.4->requests_cache) (1.15.0)
Installing collected packages: urllib3, url-normalize, cattrs, requests-cache
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed cattrs-1.10.0 requests-cache-0.9.1 url-normalize-1.4.3 urllib3-1.25.11

In [3]:
session = requests_cache.CachedSession(cache_name="cache", backend = "sqlite", exxpire_after = datetime.timedelta(days = 90),)

In [6]:
tsla = web.DataReader("tsla", data_source = "yahoo", start = "2022-1-1", session = session,)
tsla.head(8)

RemoteDataError: ignored